@import "./variables";
@import "./mixins";

.row {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: $gutter-vertical;

  @include clearfix;

  @include grid(12);

  @include respond(tab-port) {
    max-width: 50rem;
  }
}