@import "../styles/grid";
@import "../styles/variables";
@import "../styles/typography";
@import "../styles/utilities";
@import "../styles/buttons";
@import "../styles/compostion";

.section-about{
  background-color: $color-gray-light-1;
  padding: 25em 0;
  margin-top: -200px;
  margin-top: -20vh;
}
