@import "../styles/variables";

.section-features {
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);

  &>* {
    transform: skewY(7deg);
  }

  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)
    ), url(../assets//nat-4.jpg);
    background-position: top;
    background-size: cover;
}